{% extends 'base.html' %}

{% block title %}Subjects{% endblock title %}

{% block breadcrumb %}
<a class="btn btn-primary" href="{% url 'subject-create' %}"><i
    class="fas fa-plus"></i> New subject</a>
<a class="btn btn-primary" href="{% url 'subject-upload' %}"><i
    class="fas fa-upload"></i> Upload subjects</a>
{% endblock breadcrumb %}

{% block content %}
  <div class="table-responsive">
    <table id="subjecttable" class="table table-bordered table-hover" data-page-length='100'>
      <thead class="thead-light">
        <tr>
          <th>S/N</th>
          <th>Subject</th>
          <th>Credit</th>
          <th>Professor</th>
          <th>Date of Test</th>
          <th>Online Source</th>
        </tr>
      </thead>
      <tbody>

        {% for subject in object_list %}
          <tr class='clickable-row' data-href="{% url 'subject-detail' subject.id %}">
            <td>{{ forloop.counter}}</td>
            <td>{{ subject.subject}}</td>
            <td>{{ subject.credit}}</td>
            <td>{{ subject.professor }}</td>
            <td>{{ subject.date_of_test }}</td>
            <td>
              <a href={{ subject.online_source }}>{{ subject.online_source }}</a>
            </td>
          </tr>
        {% endfor %}

      </tbody>
    </table>
  </div>
{% endblock content %}


{% block morejs %}
<script>
  $('#subjecttable').DataTable({
  });
</script>

{% endblock morejs %}
