{% extends 'base.html' %}
{% load static %}

{% block content-header %}
<div class="card-header">
  <h1 class="card-title"><b>{{ object.subject }}</b>（{{ object.get_status_display }}）</h1>
  <div class="card-tools">
    <a href="#" class="btn btn-tool">Print</a>
    <a href="{% url 'subject-update' object.id %}" class="btn btn-tool">
      <i class="fas fa-edit"></i>
    </a>
    <a href="{% url 'subject-delete' object.id %}" class="btn btn-tool">
      <i class="fas fa-times"></i>
    </a>
  </div>
</div>
{% endblock content-header %}

{% block content %}
    <div class="row mb-4">
      <div class="col-sm-4">
        <div class="row mb-2">
          <div class="col">
            <div class="text-center">
              {% if object.picture %}
                  <img
                    src="{{ object.picture.url }}"
                    class="rounded" style="width: 180px;">
              {% else %}
                  <img
                    src="{% static 'dist/img/avatar.jpg' %}"
                    class="rounded" style="width: 180px;">
              {% endif %}
            </div>
          </div>
        </div>
        {% comment %} <h5>{{ object.current_class }} </h5> {% endcomment %}

      </div>
      <div class="col-sm-8">
        <div>
          <div class="form-group border-bottom row">
            <label class="col">
              Professor
            </label>
            <div class="col">
              {{ object.professor }}
            </div>
          </div>

          <div class="form-group border-bottom row">
            <label class="col">
              Credit
            </label>
            <div class="col">
              {{ object.credit}}
            </div>
          </div>

          <div class="form-group border-bottom row">
            <label class="col">
              Property
            </label>
            <div class="col">
              {{ object.get_property_display }}
            </div>
          </div>
          <div class="form-group border-bottom row">
            <label class="col">
              Online Sourse
            </label>
            <div class="col">
              <a href={{ object.online_source }}>{{ object.online_source }}</a>
            </div>
          </div>
          <div class="form-group border-bottom row">
            <label class="col">
              Date of Test
            </label>
            <div class="col">
              {{ object.date_of_test }}
            </div>
          </div>

        </div>

      </div>
    </div>

    <h4>Invoice/Payment History</h4>
    {% if payments %}
      <table class="table table-sm table-bordered table-hover">
        <thead class="thead-light">
          <tr>
            <th>For</th>
            <th>Amount Payable</th>
            <th>Amount Paid</th>
            <th>balance</th>
          </tr>
        </thead>
        <tbody>
          {% for payment in payments %}
            <tr class='clickable-row' data-href="{% url 'invoice-detail' payment.id %}">
              <td>{{payment.session}} - {{payment.term}} - {{ payment.class_for}}</td>
              <td>{{payment.total_amount_payable}}</td>
              <td>{{payment.total_amount_paid}}</td>
              <td>{{payment.balance}}</td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    {% else %}
        <p>There are no payment history for {{object}}</p>
    {% endif %}




{% endblock content %}
