{% extends 'base.html' %}

{% block title %}Others{% endblock title %}

{% block breadcrumb %}
<a class="btn btn-primary" href="{% url 'other-create' %}"><i
    class="fas fa-plus"></i> New item</a>
<a class="btn btn-primary" href="{% url 'other-upload' %}"><i
    class="fas fa-upload"></i> Upload others</a>
{% endblock breadcrumb %}

{% block content %}
  <div class="table-responsive">
    <table id="othertable" class="table table-bordered table-hover" data-page-length='100'>
      <thead class="thead-light">
        <tr>
          <th>S/N</th>
          <th>Item</th>
          <th>Credit</th>
          <th>Professor</th>
          <th>Date of Test</th>
          <th>Online Source</th>
        </tr>
      </thead>
      <tbody>

        {% for other in object_list %}
          <tr class='clickable-row' data-href="{% url 'other-detail' other.id %}">
            <td>{{ forloop.counter}}</td>
            <td>{{ other.item}}</td>
            <td>{{ other.credit}}</td>
            <td>{{ other.professor }}</td>
            <td>{{ other.date_of_test }}</td>
            <td>
              <a href={{ other.online_source }}>{{ other.online_source }}</a>
            </td>
          </tr>
        {% endfor %}

      </tbody>
    </table>
  </div>
{% endblock content %}


{% block morejs %}
<script>
  $('#othertable').DataTable({
  });
</script>

{% endblock morejs %}
