{% extends 'base.html' %}
{% load humanize %}

{% block content-header %}
<div class="card-header">
    <h1 class="card-title">
      <b>
        {% if invoice.subject %}
        {{ invoice.subject.subject }}
        {% elif invoice.item %}
        {{ invoice.item.item }}
        {% else %}
        {{ invoice.work.name }}
        {%  endif %}
      </b>（{{ object.get_status_display }}）</h1>
  <div class="card-tools">
    <a href="#" class="btn btn-tool">Print</a>
    <a href="{% url 'invoice-update' object.id %}" class="btn btn-tool">
      <i class="fas fa-edit"></i>
    </a>
    <a href="{% url 'invoice-delete' object.id %}" class="btn btn-tool">
      <i class="fas fa-times"></i>
    </a>
  </div>
</div>
{% endblock content-header %}



{% block content %}

<div class="row mb-4">
      <div class="col-sm-5">
        <div class="row mb-2">
          <div class="col">
            <table class="table table-sm table-bordered">
                <h5 class="text-center">
                  ------------&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp待办事项&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp------------
                  <span></span>
                </h5>
              <thead class="thead-light">
                <tr>
                  <th>S/N</th>
                  <th>待办</th>
<!--                  <th>Amount</th>-->
                </tr>
              </thead>
              <tbody>
                {% for item in items %}
                <tr>
                  <td>{{ forloop.counter }} </td>
                  <td>{{ item.description }} </td>
<!--                  <td>{{ item.amount }} </td>-->
                </tr>
                {% endfor %}
              </tbody>
            </table>

          </div>
        </div>
      </div>
      <div class="col-sm-7">
        <div class="form-group row">
          <div class="col"></div>
        </div>
        <div class="form-group border-bottom row">
          <div class="col"></div>
        </div>
          <div class="form-group border-bottom row">
            <label class="col">
              学年-学期
            </label>
            <div class="col">
              {{ invoice.session}}-{{ invoice.term}}
            </div>
          </div>

          <div class="form-group border-bottom row">
            <label class="col">
              截止日期
            </label>
            <div class="col">
              {{ invoice.due_date}}
            </div>
          </div>

          <div class="form-group border-bottom row">
            <label class="col">
              状态
            </label>
            <div class="col">
              {{ invoice.get_status_display }}
            </div>
          </div>

        </div>

      </div>
</div>


{% endblock content %}
