{% extends 'base.html' %}
{% load humanize %}

{% block title %}HUSTer日程管理{% endblock title %}

{% block breadcrumb %}
<a class="btn btn-primary" href="{% url 'invoice-create' %}"><i
    class="fas fa-plus"></i> 新建日程</a>
<a class="btn btn-primary" href="{% url 'upload' %}"><i
    class="fas fa-upload"></i> 本地上传</a>
{% endblock breadcrumb %}

{% block content %}
  <div class="table-responsive">
    <table id="invoicetable" class="table table-bordered table-hover">
      <thead class="thead-light">
        <tr>
          <th>S/N</th>
          <th>课程</th>
          <th>学年-学期</th>
          <th>待办</th>
          <th>截止日期</th>
        </tr>
      </thead>
      <tbody>
        {% for invoice in object_list %}
          <tr class='clickable-row' data-href="{% url 'invoice-detail' invoice.id %}">
            <td>{{ forloop.counter}}</td>
            <td>{{ invoice}}</td>
            <td>{{ invoice.session}}-{{ invoice.term}}</td>
            <td>{{ item.description }}</td>
            <td>{{ item.amount }}</td>
          </tr>
        {% endfor %}

      </tbody>
    </table>
  </div>
{% endblock content %}


{% block morejs %}
<script>
   $('#invoicetable').DataTable({
    select: false
    });
</script>

{% endblock morejs %}
