{% extends 'base.html' %}


{% block content-header %}
<div class="card-header">
  <div class="card-tools">
    <a href="#" class="btn btn-tool">Print</a>
    <a href="{% url 'work-update' object.id %}" class="btn btn-tool">
      <i class="fas fa-edit"></i>
    </a>
    <a href="{% url 'work-delete' object.id %}" class="btn btn-tool">
      <i class="fas fa-times"></i>
    </a>
  </div>
</div>
{% endblock content-header %}

{% block content %}
    <div class="row">
      <div class="col-sm-4">
        <div>
          <h3>{{ object }} </h3>
<!--          <h5>{{ object.get_priority_display }} </h5>-->
<!--          <h5>{{ object.get_current_method_display }} </h5>-->
<!--          <h5>{{ object.current_class }} </h5>-->
        </div>
      </div>
      <div class="col-sm-8">
        <div>
          <div class="form-collaboration border-bottom row">
            <label class="col">
              Method
            </label>
            <div class="col">
              {{ object.get_current_method_display }}
            </div>
          </div>

          <div class="form-collaboration border-bottom row">
            <label class="col">
              Priority
            </label>
            <div class="col">
              {{ object.priority }}
            </div>
          </div>

          <div class="form-collaboration border-bottom row">
            <label class="col">
              Period
            </label>
            <div class="col">
              {{ object.period }}
            </div>
          </div>

          <div class="form-collaboration border-bottom row">
            <label class="col">
               Note
            </label>
            <div class="col">
              {{ object.note}}
            </div>
          </div>

<!--          <div class="form-collaboration border-bottom row">-->
<!--            <label class="col">-->
<!--              Address-->
<!--            </label>-->
<!--            <div class="col">-->
<!--              {{ object.address }}-->
<!--            </div>-->
<!--          </div>-->
<!--          <div class="form-collaboration border-bottom row">-->
<!--            <label class="col">-->
<!--              Comments-->
<!--            </label>-->
<!--            <div class="col">-->
<!--              {{ object.others }}-->
<!--            </div>-->
<!--          </div>-->

        </div>

      </div>
    </div>




{% endblock content %}
